:root {
  --primary-color: #000000;
  --secondary-color: #f6e4cd;
  --accent-color: #feb4ab;
  --accent-color-secondary: #c48347;
  --accent-color-text: #151010;
  --border-color: #ddd;
  --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--primary-color);
  font-size: 1rem;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
}

.bold {
  font-weight: bold;
  font-weight: 700;
}

/* Remove animations, transitions, and smooth scroll for reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within,
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header {
  text-align: center;
  padding: 1rem 0;
}

header svg {
  transition: transform 0.3s ease;
  cursor: pointer;
}

header svg:hover {
  transform: rotate(35deg);
}
header h1 {
  font-size: 2.5rem;
}

header button {
  background-color: var(--primary-color);
  color: #fff;
  width: 260px;
  border-radius: 57px;
  padding: 1rem 0;
  font-size: 1rem;
}

header button:hover {
  background-color: var(--secondary-color);
}

header .logo-search {
  display: flex;
  justify-content: space-between;
}

header .logo-search .search label {
  margin-right: 0.75rem;
}

header .logo-search .search input {
  width: 90%;
  max-width: 300px;
  height: 25px;
}

header .logo-search .search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-app {
  width: 90%;
  max-width: 1400px;
  margin: 2rem auto;
  padding: 2rem 0;
}

.recipe-list {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.recipe-card {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 1rem 2rem 3rem;
  box-shadow: var(--box-shadow);
}

.recipe-card h2 {
  font-size: 1.875rem;
  margin-bottom: 10px;
}

.recipe-card button {
  background-color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.recipe-card button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.recipe-card .flex-spacing {
  flex-grow: 1;
}

.recipe-card p {
  font-size: 1.125rem;
}

/* Recipe Details */
.recipe-details {
  width: 100%;
  max-width: 878px;
  margin: 2rem auto;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.recipe-details header {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.recipe-details h2 {
  font-size: 2.375rem;
  margin-bottom: 10px;
  width: 100%;
}

.recipe-details article {
  padding: 4.5rem 5.25rem;
}

.recipe-details button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-right: 10px;
  border-radius: 0;
  width: 100px;
  height: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}

.recipe-details button:hover {
  background-color: var(--secondary-color);
}

.recipe-details .delete-button {
  background-color: var(--accent-color);
  color: var(--accent-color-text);
}

.recipe-details p {
  font-size: 18px;
}

.recipe-details .formatted-text {
  white-space: pre-line;
  font-family: inherit;
  max-width: 100%;
  padding: 10px;
  margin-top: 10px;
}

/* Recipe Form */
.recipe-form {
  background-color: #f9f9f9;
  padding: 2rem;
}

.recipe-form form {
  width: 90%;
}

.recipe-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.recipe-form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.recipe-form input[type="text"],
.recipe-form textarea,
.recipe-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.recipe-form button {
  background-color: var(--primary-color);
  color: white;
}

.recipe-form button:hover {
  background-color: var(--secondary-color);
}

.recipe-form .edit-form-buttons {
  display: flex;
  justify-content: space-between;
}

.recipe-form .delete-button {
  background-color: #982626;
}

.recipe-form .delete-button:hover {
  background-color: #7e2121;
}

.confirm {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.confirm-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.confirm-content p {
  width: 100%;
}

/* Media Query for Larger Screens */
@media screen and (min-width: 768px) {
  header button {
    margin-bottom: 0;
  }
  .recipe-card {
    flex: 0 0 calc(50% - 4rem);
  }
}

@media screen and (min-width: 1200px) {
  .recipe-card {
    flex: 0 0 calc(33.33% - 4rem);
  }
}
